<div class="main-container">
    <div class="sherpa-container">
        <bdb-tp-empty-state
            err-title="La página que buscas no se ha encontrado"
            is-logo=false btn-right 
            err-desc="Puedes volver a la página anterior o ponerte en contacto con nuestros canales de atención. (404)" type-img='404-error'
            label-btn="Ir al inicio ›"
            show-icon 
            (btnClick)="goHome()"
            url-img="assets\img\empty-states\404-error.svg"
            desc="Todos Los Derechos Reservados.  2020 © Banco de Bogotá.">
        </bdb-tp-empty-state>
    </div>
</div>
<bdb-ml-footer desc="Todos Los Derechos Reservados.  2020 © Banco de Bogotá."></bdb-ml-footer>