<div class="main-container">
    <div class="sherpa-container">
        <bdb-tp-empty-state
            err-title="Usuario no autorizado"
            is-logo=false btn-right 
            err-desc="No cuentas con permisos para visitar la página solicitada. (401)" type-img='security-cases' 
            show-icon
            (btnClick)="goHome()"
            url-img="assets\img\empty-states\security-cases.svg"
            desc="Todos Los Derechos Reservados.  2020 © Banco de Bogotá.">
        </bdb-tp-empty-state>
    </div>
</div>
<bdb-ml-footer desc="Todos Los Derechos Reservados.  2020 © Banco de Bogotá."></bdb-ml-footer>