<div class="main-container">
    <div class="sherpa-container">
        <bdb-tp-empty-state
            err-title="Estamos presentando problemas técnicos"
            is-logo=false btn-right 
            err-desc="Puedes volver a intentarlo de nuevo en unos minutos. (403)" type-img='connection-error' 
            label-btn="Volver a cargar ›"
            show-icon
            (btnClick)="goHome()"
            url-img="assets\img\empty-states\connection-error.svg"
            desc="Todos Los Derechos Reservados.  2020 © Banco de Bogotá.">
        </bdb-tp-empty-state>
    </div>
</div>
<bdb-ml-footer desc="Todos Los Derechos Reservados.  2020 © Banco de Bogotá."></bdb-ml-footer>